$width: 1rem;

.proTable {
  :global {
    .ant-table-body {
      overflow-y: scroll !important;

      //滚动条的轨道（里面装有thumb）滚动槽
      &::-webkit-scrollbar-track {
        width: 1px;
        background: rgba(255, 255, 255, 0.8);
      }

    }
  }
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 0 $width;
  background: #ffffff;
  overflow-y: auto;
}

.fullscreenTool {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background: white;
  padding: $width 0;
}